.navbar-default {
	background-color: #53495B;

}

.navbar-default .navbar-nav .navItem > a{
	color: #EEDEFB;
}

.navbar-default .navbar-nav .navItem > a:hover{
	color: #AE5BEE;
   padding-bottom: 11px;
   border-bottom-style: solid;
	border-bottom-width: thick;
	border-color: #AE5BEE;
}

.navbar-default .navbar-nav .navItem > a:focus{
	color: #AE5BEE;
}


.navbar-default .navbar-nav .navItem {
	position: relative;
	background-color: #53495B;
	border-color: #FFFFFF;
	border-left-style: solid;
	border-right-style: solid;
	border-width: thin;
}

@media (min-width: 768px){
.navbar-default .navbar-brand a {

  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
  color: #FFFFFF;
  margin-top: -15px;
}
}

@media (max-width: 768px){
.navbar-default .navbar-brand a {
  height: 20px;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 150px;
  color: #FFFFFF;
}
}

@media (max-width: 768px){
.navbar-default .navbar-brand  {
  height: 20px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 150px;
  color: #FFFFFF;
  margin-top: -70px;

}
}


.navbar-default .navbar-brand a:hover,
.navbar-default .navbar-brand a:focus {
color: #AE5BEE;
text-decoration: none;

}

.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}

body{
	font-family: 'Josefin Sans', sans-serif;

}

@media (max-width: 768px){
  body{
padding-top: 10em;
  }
}

.bodyText{
	padding: 20px;
	margin-top:40px;
}
 .container {
  padding-right: 10px;
  padding-left: 10px;

}

@media (min-width: 768px){
.navbar-default .navbar-brand >a> img {
	margin-top:-12px;
	margin-left: -45px;
  height: 45px;
  width: 45px;
  display: inline-block;
}
}

@media (max-width: 768px){
.navbar-default .navbar-brand >a> img {
	margin-top:0px;
	margin-left: 0px;
  height: 20px;
  width: 20px;
  display: inline-block;
}
}

@media (max-width: 768px){
.navbar-default .navbar-right{
margin-top:40px;
}
}


 .books {
      list-style: none;
    }

    .thumb {
      float: left;
      padding-bottom: 1em;
      width: 95px;
    }

    .books li {
      clear: both;
      height: 180px;
      width: 70%;
      padding-top: 15px;
    }

.link{
color: #000000;
}

.link:hover{
  color: #AE5BEE;
text-decoration: none;
}
    .booksBlock {
  height: 100%;
  background-image: url(./background.jpg);
  background-position: center top;
  background-size: 100%; 
}

.WhitePageTitle{
  color: #FFFFFF;
  font-size:60px;
  padding: 0.5em;
  text-align: center;
}

.BlackPageTitle{
  color: #000000;
  font-size:40px;
  padding: 0.5em;
  text-align: center;
  border-bottom: none;
}

@media (min-width: 768px){
.searchSortBar{
  background: linear-gradient(#ac00e6, #660066, #6600ff); 
  margin: 2em;
  padding:1.5em;
  padding-left: 6em;
  min-height: 5em;
}
}

@media (max-width: 768px){
.searchSortBar{
 background: linear-gradient(#ac00e6, #660066, #6600ff); /* Standard syntax */
  margin: 2em;
  padding:1.5em;
  min-height: 3em;
}
}
.searchSortBar p{
  color: #FFFFFF;
  font-size: 20px;
display: inline-block;
}

.back-arrow{
  width: 70px;
}

 img.book {
      float: left;
      border: 1px solid black;
      margin-right: 3em;
      margin-bottom: 2em;
      background: linear-gradient(#ac00e6, #660066, #6600ff); 
      padding: 2em;
      height: 400px;
      width: 400px;
    }

    .authorAbout,.about{
      float: left;
      border: 1px solid black;
      margin-left:2em;
      margin-bottom: 2em;
      background-color: #FFFFFF; 
      padding: 2em;
    }

.book-images,
.author-images{
  margin-left:2em;
}
    img.author{
      float: left;
      height: 250px;
      width: 250px;
    }


h1{
   border-bottom: 2px solid gray;
}
   